pandas 
numpy
dvc
notebook
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-pyYAML
scipy
setuptools
requests 
gdown
scikit-learn
mlflow
torch
torchvision 
torchaudio 
dagshub
streamlit
opencv-python
-e .